body
{
    background-color: azure;
    color: #2f2f2f;
}
h2
{
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
    font-size: 2vw;
}
p
{
    font-family: Arial;
    font-size: 0.8vw;
}
h1
{
    font-family: Arial;

}
.title
{
    text-align: center;
    margin-bottom: 1vw;
}
.title img
{
    height: 200px;
}

table
{
    width: 1vw;
    margin: auto;
    margin-bottom: 1vw;
}

.tablo
{
    margin: auto;
    width: 100%;
}
.case
{
    width: calc(70vw/18);
    height: calc(70vw/18);
    padding: 0.5vw;
    display: inline-block;
    position: relative;
    margin: auto;
    border: 1px solid white;
}
.empty
{
    width: calc(70vw/18);
    height: calc(70vw/18);
    padding: 0.5vw;
    display: inline-block;
    margin: auto;
    border: 1px solid transparent;
}
.weight
{
    float: right;
    width: 100%;
    margin: -1px 0 0.5vw 0;
    text-align: right;
}
.num
{
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0;
}
.other
{
    text-align: center;
}
tr
{
    display: flex;
}
.green
{
    background-color: #A4E5A4;
}
.darkgreen{
    background-color: #99cc99;
}
.pinky
{
    background-color: #ffdae0;
}
.white
{
    background-color: whitesmoke;
}
.red
{
    background-color: #ffb2b2;
}
.blue
{
    background-color: #9fd7fb;
}
.lightblue
{
    background-color: #d8effd;
}
.darkgrey
{
    background-color: #bababa;
}
.grey
{
    background-color: #dcdcdc;
}
.darkorange
{
    background-color: #ffc966;
}
.orange
{
    background-color: #ffdb99;
}
.ligthorange
{
    background-color: #fff6e5;
}
.lightpink
{
    background-color: #fff0f2;
}